body{
    color: white;
    background-color: rgb(33, 34, 35);
}

body, input{
    font-family: 'Courier New', Courier, monospace;
}

input{
    color: white;
    border: none;
    border-radius: 8px;
    background-color: rgb(50, 52, 56);
    padding: 5px;
}

input:hover{
    background-color: rgb(101, 105, 113);
    cursor: pointer;
}

#barBox{
    border-bottom: 1px dotted;
    border-radius: 8px;
}